node_modules
config.json
config.js
.idea
.DS_Store
*.log
npm-debug.log
server/public/assets/styles/main.css
server/public/assets/styles/main.css.map
server/public/assets/scripts/client.min.js
*.sass-cache
.env
