<!-- will delete once we have requests in db -->
<a href="/farm/response">Response page</a>



<div class="span10 container">
  <h3 class="push-right">Requests</h3>
  <div class="clearfix"></div>
  <div class="header">
    <h4 class="fourths">Requests</h4>
    <h4 class="fourths">Host</h4>
    <h4 class="fourths">Status</h4>
    <h4 class="fourths"></h4>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
  <div class="events" ng-repeat="request in dash.requests">
    <ul class="fourths event-names">
      <li ng-repeat="event in request.event">{{event.event.location}}<span class="display-date">{{event.event.displayDate}}</span></li>
    </ul>
    <ul class="fourths event-names">
      <li ng-repeat="event in request.event">{{event.event.host}}</li>
    </ul>
    <ul class="fourths request-status">
      <li>{{request.status}}</li>
    </ul>
    <ul class="fourths">
      <li>
        <a href="/farm/response"><button class="view-btn" ng-click="dash.requestDetails(request._id)">View</button></a>
        <a href="/admin/request"><button class="view-btn" ng-click="dash.editRequest(request._id)">Edit</button></a>
      </li>
    </ul>
    <div class="clearfix"></div>
    <hr />
  </div>
  <a href="/admin/request"><button class="push-left" ng-click="dash.requestFalseUpdate()">+ Add New Request</button></a>
  <div class="clearfix"></div>
</div>

<div class="clearfix"></div><br/>
<div class="span10 container">
  <h3 class="push-right">Events</h3>
  <div class="clearfix"></div>
  <div class="header">
    <h4 class="thirds">Location</h4>
    <h4 class="thirds">Date</h4>
    <h4 class="thirds">Hosts</h4>
    <div class="clearfix"></div>
  </div>

  <div class="clearfix"></div>
  <div class="event-content">
    <ul ng-repeat="event in dash.data.events">
      <li class="thirds">{{event.location}}</li>
      <li class="thirds">{{event.date | date: 'fullDate'}}</li>
      <li class="thirds">{{event.host}}</li>
      <div class="clearfix"></div>
    </ul>
  </div>
  <div class="clearfix"></div>
</div>
