<div class="span10 container">
  <div class="sub-container">
    <h3 class="push-right">Requests</h3>
    <div class="clearfix"></div>
    <div class="inpage-header">
      <h4 class="thirds">Requests</h4>
      <h4 class="thirds">Host</h4>
      <h4 class="thirds">Status</h4>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="events" ng-repeat="request in dash.requestsObj.requests">
      <div ng-click="dash.requestDetails(request._id)">
        <!-- <p class="edit-icon icon-sort-down icon-2x"></p> -->
        <ul class="thirds event-names">
          <li ng-repeat="event in request.event">{{event.event.location}}<span class="display-date">{{event.event.displayDate}}</span></li>
        </ul>
        <ul class="thirds event-names">
          <li ng-repeat="event in request.event">{{event.event.host}}</li>
        </ul>
        <ul class="thirds request-status">
          <li>{{request.status}}</li>
        </ul>
        <div class="clearfix"></div>
        <hr />
      </div>
    </div>
    <a href="/admin/request"><button class="push-right" ng-click="dash.requestFalseUpdate()"><i class="icon-plus icon-large"></i> Add New Request</button></a>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div><br/>
  <div class="sub-container">
    <h3 class="push-right">Events</h3>
    <div class="clearfix"></div>
    <div class="inpage-header">
      <h4 class="thirds">Location</h4>
      <h4 class="thirds">Date</h4>
      <h4 class="thirds">Hosts</h4>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="event-content">
      <ul ng-repeat="event in dash.data.events">
        <li class="thirds">{{event.location}}</li>
        <li class="thirds">{{event.date | date: 'fullDate'}}</li>
        <li class="thirds">{{event.host}}</li>
        <div class="clearfix"></div>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<!-- will delete once we have requests in db -->
<!-- <a href="/farm/response">Response page</a> -->
