<div class="span10 container">
  <h3 class="push-left">{{request.date}} produce request</h3>
  <div class="clearfix"></div>
  <div>
    <div class="event-split push-left">
      <ul class="farm-response" ng-repeat="event in request.events">
        <li>{{event.name}} {{event.date}}</li>
        <li ng-repeat="salad in event.salads">{{salad.name}}</li>
      </ul>
    </div>
    <div class="event-split push-left">
      <h4 class="push-left">Message from Roots</h4>
      <div class="clearfix"></div>
      <p>{{request.message}}</p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
