<div class="span10 container">
  <div class="subcontainer">
    <h3 class="push-left">Produce Request</h3>
    <div class="clearfix"></div>
    <div>
      <div class="event-split push-left">
        <ul class="farm-response" ng-repeat="event in farm.data.eventsInfo">
          <li>{{event.location}} {{event.displayDate}} {{event.host}}</li>
          <li ng-repeat="salad in event.salads">{{salad.name}}</li>
        </ul>
      </div>
      <div class="event-split push-left">
        <h4 class="push-left">Message from Roots:</h4>
        <div class="clearfix"></div>
        <p>{{farm.data.request.message}}</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="sub-container table">
    <table>
      <thead>
        <th class="left-divide right-divide col-center"><h4>Veggie</h4></th>
        <th class="right-divide col-center"><h4>Needed</h4></th>
        <th class="right-divide col-center" ng-repeat="user in farm.data.request.recipients">{{user.orgName}}</th>
      </thead>
      <tbody>
          <tr ng-repeat="veggie in farm.data.request.summary">
            <td class="left-divide right-divide"><strong>{{veggie.ingredient_name}}</strong></td>
            <td class="right-divide col-center">{{veggie.amount}} {{veggie.unit}}</td>
            <td class="right-divide col-center" ng-repeat="user in farm.data.request.recipients">
              <input ng-if="farm.user.username == user.email"  ng-change="farm.test()" ng-model="user.commitments[veggie.ingredient_name].quantity" type="number" placeholder="Qty." min="0"/>
              <div ng-if="farm.user.username !== user.email">{{user.commitments[veggie.ingredient_name].quantity}}</div>
          </td>
          </tr>
      </tbody>
    </table>
    <div class="message-box">
      <textarea rows="6" cols="30" class="message" ng-model="farm.data.toAdminMessage" placeholder="Message to Roots..."></textarea>
      <button class="send-request" ng-click="farm.validateResponse()">Send Response</button>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!-- Send Response dialog modal -->
<div ng-if="farm.data.confirmRequest" class="overlay"></div>
<div ng-if="farm.data.confirmRequest" class="modal container">
  <h3>{{farm.data.confirmMessage}}<i ng-if="farm.data.confirmIcon" class="icon-spinner icon-spin icon-large"></i></h3>
  <button class="modal-btn btn-negative" ng-click="farm.data.confirmRequest = false"><i class="icon-remove"></i> Back to edit</button>
  <button class="modal-btn send-button" ng-click="farm.sendResponse(farm.user); farm.data.confirmRequest = false"><i class="icon-envelope"></i> Send Response</button>
</div>

<div ng-if="farm.data.exitConfirm" class="overlay"></div>
<div ng-if="farm.data.exitConfirm" class="modal container">
  <h3>You Have Sent Your Response!<i ng-if="farm.data.confirmIcon" class="icon-spinner icon-spin icon-large"></i></h3>
  <button class="modal-btn btn-negative" ng-click="farm.data.exitConfirm = false">Back to Page </button>
</div>
