<div class="banner">
  <!-- Will add ng-show="userLoggedIn" to display the banner and nav only when logged in -->
  <div class="header">
    <div class="title-casing">
      <div>
        <img class="logo" src="views/images/RootsLogo.png" />
      </div>
      <div class="title">
        <h1>Veggie Kart</h1>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="logout">
      <p>Welcome, {{user.name}}!</p>
      <a href="/" ng-click="logout(); userLoggedIn.loggedIn = false">logout</a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="nav">
    <a href="/admin/dashboard" class="button">Dashboard</a>
    <a href="/admin/salad" class="button">Salads</a>
    <a href="/admin/reports" class="button">Reports</a>
  </div>
  <div class="clearfix"></div>
</div>
