  <div class="span10 header">
    <div class="title-casing">
      <div>
          <a href="" ng-click="logoClick()"><img class="logo" src="views/images/RootsLogo.png" /></a>
      </div>
      <div class="title">
        <h1>Veggie Kart</h1>
      </div>
    </div>
    <div class="logout">
      <p>Welcome, {{user.data}}!</p>
      <a href="/" ng-click="logout(); userLoggedIn.loggedIn = false">logout</a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div ng-if="user.admin" class="span10 nav" ng-cloak>
    <a href="/admin/dashboard" class="button">Dashboard</a>
    <a href="/admin/salad" class="button">Salads</a>
    <a href="/admin/reports" class="button">Analytics</a>
  </div>
  <div class="clearfix"></div>
<!-- </div> -->
