<div class="span10 container">
  <h3>Select an Organization</h3>
    <select placeholder="Choose An Organization" ng-model="organization" ng-options="recipient.orgName for recipient in reports.recipients.recipients" ng-change="reports.grabUserReport()">
      <option value="">Show All Reports</option>
  </select>

  <div class="sub-container" ng-repeat="report in reports.allReports | filter: organization.orgName">
    <div class="events-display" >
      <h3 class="push-right">{{report.name}}</h3>
      <div class="clearfix"></div>
      <h4>Total Produce Confirmed</h4>
      <ul>
        <li class="halves" ng-repeat="vegetable in report.vegetables">{{vegetable.name}}: {{vegetable.quantity}} {{vegetable.unit}}  </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
