<div class="span10 container">
  <div class="sub-container">
    <h3 class="push-left">Produce Request</h3>
    <div class="clearfix"></div>
    <div>
      <a href="/admin/request"><button class="view-btn" ng-click="confirm.editRequest()"><i class="icon-pencil"></i> Edit Request</button></a>
      <div class="event-split push-left">
        <ul class="farm-response" ng-repeat="event in confirm.data.eventsInfo">
          <li>{{event.location}} {{event.displayDate}} {{event.host}}</li>
          <li ng-repeat="salad in event.salads">{{salad.name}}</li>
        </ul>
      </div>
      <div class="event-split push-left">
        <h4 class="push-left">Message from Roots...</h4>
        <div class="clearfix"></div>
        <p>{{confirm.data.request.message}}</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="sub-container">
    <table>
      <thead>
        <th>Veggie</th>
        <th>Requested</th>
        <th ng-repeat="user in confirm.data.request.recipients">{{user.orgName}}</th>
      </thead>
      <tbody>
          <tr ng-repeat="veggie in confirm.data.request.summary">
            <td><strong>{{veggie.ingredient_name}}</strong></td>
            <td>{{veggie.amount}} {{veggie.unit}}</td>
            <td ng-repeat="user in confirm.data.request.recipients">
              <input ng-change="confirm.test()" ng-model="user.confirmations[veggie.ingredient_name].quantity" type="number" placeholder="Qty." min="0"/> {{veggie.unit}}
          </td>
          </tr>
      </tbody>
    </table>

  </div>
  <div class="sub-container">
    <div class="message-box">
      <h3 class="push-right">Add Messages</h3>
      <div class="clearfix"></div>
      <label>Personalized Message Recipient</label>
      <select name="recipient" placeholder="Event" ng-model="confirm.messageRecipient" ng-options="recipient as recipient.name for recipient in confirm.data.request.recipients">
      </select>
      <textarea rows="6" cols="30" class="message" ng-model="confirm.message" placeholder="Message to {{confirm.messageRecipient.name}}..."></textarea>
      <button class="send-request" ng-click="confirm.addMessage()">Add Message</button>
      <div class="clearfix"></div>
    </div>
    <h3 class="push-right">Message Summary</h3>
    <div class="clearfix"></div>
    <ul class="message-summary">
      <li ng-repeat="message in confirm.data.fromSueMessages"><strong>{{message.name}}: </strong>{{message.message}}</li>
    </ul>
    <div class="clearfix"></div>
    <button class="push-right send-request" ng-click="confirm.confirmRequest()"><i class="icon-envelope"></i> Confirm Request</button>
    <div class="clearfix"></div>
  </div>
</div>

<!-- Add message error modal -->
<div ng-if="confirm.data.addMessageError" class="overlay"></div>
<div ng-if="confirm.data.addMessageError" class="modal container">
  <h3>{{confirm.data.addMessageErrorMessage}}</h3>
  <button class="back-button btn-negative" ng-click="confirm.data.addMessageError = false"><i class="icon-remove"></i> Go back</button>
</div>
