<div class="span10 container">

  <!-- Produce request section -->
  <div class="sub-container">
    <h3 class="push-left">Produce Request</h3>
    <!-- <div class="clearfix"></div> -->

    <div>
      <a href="/admin/request"><button class="push-right view-btn confirmation-btn" ng-click="confirm.editRequest()"><i class="icon-pencil"></i> Edit Request</button></a>
      <button ng-click="confirm.confirmDelete()" class="push-right btn-negative confirmation-btn"><i class="icon-trash icon-large"></i> Delete Request</button>
      <div class="clearfix"></div>
      <div class="event-split push-left">
        <ul class="farm-response" ng-repeat="event in confirm.data.eventsInfo">
          <li>{{event.location}} {{event.displayDate}} {{event.host}}</li>
          <li ng-repeat="salad in event.salads">{{salad.name}}</li>
        </ul>
      </div>

      <div class="event-split push-left">
        <h4 class="push-left">Message from Roots...</h4>
        <div class="clearfix"></div>
        <p>{{confirm.data.request.message}}</p>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>

  <!-- Veggie table section -->
  <div class="sub-container table">

    <table>

      <thead>
        <th class="left-divide right-divide col-center"><h4>Veggie</h4></th>
        <th class="right-divide col-center"><h4>Requested</h4></th>
        <th class="right-divide col-center" ng-repeat="user in confirm.data.request.recipients" colspan="2"><h4>{{user.orgName}}</h4></th>
      </thead>

      <tbody>
        <tr>
          <td class="left-divide right-divide col-center"></td>
          <td class="left-divide right-divide col-center"></td>
          <td colspan="2" class="right-divide col-center" ng-repeat="user in confirm.data.request.recipients">
            <div>Confirmed<br />Amount</div>
            <div>Responded<br />Available</div>
          </td>
        </tr>
        <tr ng-repeat="veggie in confirm.data.request.summary">
          <td class="left-divide right-divide"><strong>{{veggie.ingredient_name}}</strong></td>
          <td class="right-divide col-center">{{veggie.amount}} {{veggie.unit}}</td>
          <td colspan="2" class="right-divide col-center" ng-repeat="user in confirm.data.request.recipients">
            <div>
              <input class="confirm-quantity" ng-change="confirm.test()" ng-model="user.confirmations[veggie.ingredient_name].quantity" type="number" placeholder="Qty." min="0"/>
            </div>
            <div>
              {{user.commitments[veggie.ingredient_name].quantity}} {{veggie.unit}}
            </div>
          </td>
        </tr>
      </tbody>

    </table>

  </div>

  <!-- Add Message section -->
  <div class="sub-container">

    <div class="message-box">
      <h3 class="push-right">Add Messages</h3>
      <div class="clearfix"></div>
      <div class="to-selector">
        <label>To: </label>
        <select name="recipient" placeholder="Event" ng-model="confirm.messageRecipient" ng-options="recipient as recipient.name for recipient in confirm.data.request.recipients">
        </select>
      </div>
      <div class="clearfix"></div>
      <textarea rows="6" cols="30" class="message" ng-model="confirm.message" placeholder="Message to {{confirm.messageRecipient.name}}..."></textarea>
      <button class="send-request" ng-click="confirm.addMessage()">Add Message</button>
      <div class="clearfix"></div>
    </div>

    <h3 class="push-right">Message Summary</h3>
    <div class="clearfix"></div>

    <ul class="message-summary">
      <li ng-repeat="message in confirm.data.fromAdminMessages"><strong>{{message.name}}: </strong>{{message.message}}</li>
    </ul>

    <div class="clearfix"></div>
    <button class="push-right send-request" ng-click="confirm.confirmCheck()"><i class="icon-envelope icon-large"></i> Confirm Request</button>
    <button class="modal-btn btn-negative" ng-click="confirm.updateConfirmation(confirm.data)">Update Confirmations Without E-mail</button>
    <div class="clearfix"></div>

  </div>

</div>

<!-- Add message error modal -->
<div ng-if="confirm.data.addMessageError" class="overlay"></div>
<div ng-if="confirm.data.addMessageError" class="modal container">
  <h3>{{confirm.data.addMessageErrorMessage}}</h3>
  <button class="modal-btn btn-negative" ng-click="confirm.data.addMessageError = false"><i class="icon-remove"></i> Go back</button>
</div>

<!-- Delete request error modal -->
<div ng-if="confirm.data.deleteError" class="overlay"></div>
<div ng-if="confirm.data.deleteError" class="modal container">
  <h3>{{confirm.data.deleteMessage}}</h3>
  <button class="modal-btn" ng-click="confirm.data.deleteError = false"><i class="icon-remove"></i> Go back</button>
  <button class="modal-btn btn-negative" ng-click="confirm.deleteRequest(confirm.data.request._id)"><i class="icon-trash icon-large"></i> Delete Request</button>
</div>

<!-- Confirm Request error modal -->
<div ng-if="confirm.data.confirmError" class="overlay"></div>
<div ng-if="confirm.data.confirmError" class="modal container">
  <h3>{{confirm.data.confirmErrorMessage}}<i ng-if="confirm.data.confirmIcon" class="icon-spinner icon-spin icon-large"></i></h3>
  <button class="modal-btn btn-negative" ng-click="confirm.data.confirmError = false"><i class="icon-remove"></i> Go back</button>
  <button class="modal-btn" ng-click="confirm.confirmRequest()"><i class="icon-envelope icon-large"></i> Send Confirmation</button>
</div>
